
.ant-layout-sider {
  flex: 0 0 230px !important;
  max-width: 230px !important;
  min-width: 230px !important;
  width: 230px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.headerstyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
 background-color:  #0f5689;
  color: rgb(0, 35, 41);
  padding: 8px 12px 8px 12px;
  position: sticky;
  width: 100%;
  top: 0;
  height: 44 !important;
  line-height: 64px;
  z-index:1;
}

.contentStyle {
  min-height: 100dvh;
  line-height: 22px;
  color: #fff;
 // background-color: #fef9f7;
 // overflow-y: scroll !important;
  height: 100%;
  
}

.sideStyle {
  height:100vh;
  line-height: 22px;
  padding-bottom: 22px;
  color: #2f463d;
  background-color: #fff !important;
  position: fixed !important;
  left: 0;
  overflow-y: scroll !important;
}
.ant-card .ant-card-body {
  padding: 0px !important; 
   border-radius: 0 0 8px 8px;
 }

.sidemenu{
  height: 100dvh !important;
  position: fixed !important;
  left:0 !important;
  top: 0 !important;
  background-color: #002329 !important  ;
  transition: 0.2s ease;

}
.sideStyle .ant-menu-item,
.sideStyle .ant-menu-submenu-title {
  color: #3c3c3c !important;
}

.sideStyle .ant-menu-item-icon,
.sideStyle .ant-menu-submenu-title .ant-menu-item-icon {
  color: #3c3c3c !important;
}

/* Add this CSS in your stylesheet */
.custom-input {
  border: none;
  border-bottom: 2px solid #ac8342;
  outline: none;
  box-shadow: none;
}

.custom-input:focus {
  border-color: #ac8342;
}
/* Custom styling for the Select input */
.custom-select {
  border: none;
  border-bottom: 2px solid #ac8342;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  padding: 5px 0;
  width:100%;
}

/* Focus state for Select input */
.custom-select:focus {
  border-color: #ac8342 !important;
}

/* Customizing the dropdown icon to match the style */
.custom-select .ant-select-arrow {
  color: #ac8342;
}

/* Optional: Style for the option list */
.custom-select .ant-select-item {
  border-bottom: 1px solid #f0f0f0; /* Add light border for dropdown items */
}


main {
  overflow-y: scroll !important;
  height: 100%;

  
}
.ant-layout .ant-layout-sider-trigger {
  display: none !important;
}



@media screen and (max-width: 768px) {
  .sideStyle {
    display: block; /* Hide the Sider component on smaller screens */
    z-index: 1;
  }
  .ant-layout-sider {
    flex: 0 0 230px !important;
    max-width: 230px !important;
    min-width: 230px !important;
    width: 230px !important;
    height: 100dvh !important;
    overflow-y: scroll !important;
  }
  
  .ant-layout-sider-collapsed {
    flex: 0 0 80px !important;
    max-width: 0px !important;
    min-width:0px !important;
    width: 0 !important;
  }
  .contentStyle {
    margin-left: 0; /* Adjust content margin for smaller screens */
    width: 100%;
    padding: 0;
  }

  main {
    margin-left: 0 !important;
  }


  
}